.input-wrapper {
    background-image:"url(/images/bg.png)";
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center ;
    position: relative;
    background-size: 100% 100%;
}

.input-container {
   position:absolute;
   top: 10%;
   right: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input-container img{
    width: 24rem;
    height:15rem ;
}

.input-box {
    height: 7rem;
    margin-top:3rem;
    position: relative;
}

.input-box input{
    height: 3rem;
    width: 25rem;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0.8rem 0.8rem 0.7rem gainsboro;
}

.input-box input:focus{
    border-color: white;
    outline: none;
}

.search-btn{
    margin:auto;
    border: none;
    width: 7rem;
    height: 4rem;
    background-color: #d4248b;
    border-radius: 0.3rem 1rem 1rem 0.3rem;
    box-shadow: 0.8rem 0.8rem 0.7rem gainsboro;
    color: white;
    font-size: 1rem;   
}

.search-btn i{
    padding-right: 0.2rem;
}

.auto-complete{
    position: absolute;
    color: black;
    padding: 0 10px;
    width: 31rem;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid gainsboro; 
}

.auto-complete a{   
    padding: 1rem;
    text-decoration: none;
}

/*Responsive*/


/*Breakpoint for Mobiles*/
@media (max-width: 480px){
    
    .input-container {
        position:absolute;
        top: 10%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    
     .input-container img{
        width: 20rem;
        height:10rem ;
    }

    .input-box input{
        height: 2rem;
        width: 15rem;
        outline: none;
        font-size: 0.8rem;
        box-shadow: 0.5rem 0.5rem 0.5rem gainsboro;
    }

    .search-btn{
        margin:auto;
        border: none;
        width: 4rem;
        height: 3rem;
        background-color: #d4248b;
        border-radius: 0.3rem 1rem 1rem 0.3rem;
        box-shadow: 0.5rem 0.5rem 0.5rem gainsboro;
        color: white;
        font-size: 0.6rem;   
    }
    
    .auto-complete{
        position: absolute;
        color: black;
        padding: 0 10px;
        width: 18rem;
        display: flex;
        flex-direction: column;
        background-color: gainsboro;
    }
}

/*Breakpoint for Tablets*/

@media (max-width: 1024px){
    
    .input-container {
        position:absolute;
        top: 15%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    
     .input-container img{
        width: 20rem;
        height:10rem ;
    }

    .input-box input{
        height: 2rem;
        width: 15rem;
        outline: none;
        font-size: 0.8rem;
        box-shadow: 0.5rem 0.5rem 0.5rem  gainsboro;
    }

    .search-btn{
        margin:auto;
        border: none;
        width: 4rem;
        height: 3rem;
        background-color: #d4248b;
        border-radius: 0.3rem 1rem 1rem 0.3rem;
        box-shadow: 0.5rem 0.5rem 0.5rem gainsboro;
        color: white;
        font-size: 0.6rem;   
    }
    
    .auto-complete{
        position: absolute;
        color: black;
        padding: 0 10px;
        width: 18rem;
        display: flex;
        flex-direction: column;
    }
}

